// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin appTheme {
  @include valo;

.v-horizontallayout-menuArea {
	background: #000;
}

.v-slot-header {
	margin-bottom:	10px;
}

.v-menubar-menuitem-menuRight {
    position: absolute;
    right: 10px;
    top: 0;
    float: right;
}

.v-menubar .v-menubar-menuitem {
	background-color: #3b3f42;
	background-image: linear-gradient(to left, #313537 0%, #3b3f42 8px);
	color: #9b9fa3;
}

.v-menubar .v-menubar-menuitem-highlight {
	background-color: #9b9fa3;
	color: #3b3f42;
}

.v-menubar-popup .v-menubar-menuitem {
	background-color: #3b3f42;
	background-image: linear-gradient(to left, #313537 0%, #3b3f42 8px);
	color: #9b9fa3;
}

.v-menubar-popup .v-menubar-menuitem-highlight {
	background-color: #9b9fa3;
	color: #3b3f42;
}

.valo-menu-subtitle {
	margin: 0 0 0 5px;
	box-sizing: none;
	border: 0px;
	background-color: #3b3f42;
	background-image: none;
	box-shadow: none;
}

.bannerImg {
	background-color:	#FFF;
	padding: 2px 5px;
}
}
